<h1>Courses</h1>
<p><strong>Fundamentals of Computer Science (H3032L)</strong>: This is intended as a first course for those students
    just beginning the study of computer science. Students will foster their creativity and innovation through
    opportunities to design, implement, and present solutions to real-world problems. Students will collaborate and use
    computer science concepts to access, analyze, and evaluate information needed to solve problems. Students will learn
    the problem-solving and reasoning skills that are the foundation of computer science.</p>
<p><strong>Computer Science I Pre-AP (H3005L):</strong> Course introduces students to programming with several web page
    languages including HTML, CSS, &amp; JavaScript.  Students are then introduced to beginning programming with Python
    and an introduction to Java.</p>
<p><strong>Computer Science II Pre-AP (H3006L):</strong> This course continues with an introduction to Java &amp;
    learning about Object Oriented Programming.  This course emphasizes data structures and problem solving with Java
    which provides a necessary foundation for the next course -- AP Computer Science A.</p>
<p><strong>AP Computer Science A (H3010L):</strong> This is the last of the programming courses and is "equivalent to a
    first-semester, college-level course in computer science.  The course emphasizes both object-oriented and imperative
    problem solving and design using Java language."(APCentral) This course teaches advanced programming and emphasizes
    object-oriented programming methodology with an emphasis on problem solving and algorithm development.  This course
    prepares students to take the Advanced Placement (AP) exam that can be used for college credit.</p>
<p><strong>AP Computer Science Principles (H3007L):</strong> "AP Computer Science Principles offers a multidisciplinary
    approach to teaching the underlying principles of computation. The course will introduce students to the creative
    aspects of programming, abstractions, algorithms, large data sets, the Internet, cybersecurity concerns, and
    computing impacts." (APCentral) Students are expected to make an application that is submitted to the College Board
    along with the written test to received Advanced Placement credit.  This course is independent of the other Computer
    Science courses so can be taken at any time.</p>
