<h1>Examples</h1>
<h2>Fundamentals of Computer Science (H3032L)</h2>
<p><strong><code>&lt;response here&gt;</code></strong></p>
<h2>Computer Science I Pre-AP (H3005L)</h2>
<p><strong><code>&lt;response here&gt;</code></strong></p>
<h2>Computer Science II Pre-AP (H3006L)</h2>
<p><strong><code>&lt;response here&gt;</code></strong></p>
<h2>AP Computer Science A (H3010L)</h2>
<p><strong><code>&lt;response here&gt;</code></strong></p>
<h2>AP Computer Science Principles (H3007L)</h2>
<p><strong><code>&lt;response here&gt;</code></strong></p>
<h2>Practicum <code>???</code></h2>
<p><strong><code>&lt;response here&gt;</code></strong></p>