<h1>examples</h1>
<p>Fundamentals of Computer Science (H3032L)
<strong><code>&lt;response here&gt;</code></strong>
Computer Science I Pre-AP (H3005L)
<strong><code>&lt;response here&gt;</code></strong>
Computer Science II Pre-AP (H3006L)
<strong><code>&lt;response here&gt;</code></strong>
AP Computer Science A (H3010L)
<strong><code>&lt;response here&gt;</code></strong>
AP Computer Science Principles (H3007L)
<strong><code>&lt;response here&gt;</code></strong>
Practicum <code>???</code>
<strong><code>&lt;response here&gt;</code></strong></p>