<h1>Students</h1>
<blockquote>
    <p><strong>Student Name:</strong> <strong><code>&lt;response here&gt;</code></strong>
        <strong>Student portrait (if allowed):</strong> <strong><code>&lt;response here&gt;</code></strong>
    </p>
    <blockquote>
        <p><strong>Why the pathway is important?</strong>
            <strong><code>&lt;response here&gt;</code></strong>
        </p>
    </blockquote>
    <p><strong>Why students should choose this pathway over others?</strong></p>
    <blockquote>
        <p><strong><code>&lt;response here&gt;</code></strong></p>
    </blockquote>
    <p><strong>Why do they like the pathway?</strong></p>
    <blockquote>
        <p><strong><code>&lt;response here&gt;</code></strong>
        </p>
    </blockquote>
    <p><strong>Student Name:</strong> <strong><code>&lt;response here&gt;</code></strong>
        <strong>Student portrait (if allowed):</strong> <strong><code>&lt;response here&gt;</code></strong>
    </p>
    <blockquote>
        <p><strong>Why the pathway is important?</strong>
            <strong><code>&lt;response here&gt;</code></strong>
        </p>
    </blockquote>
    <p><strong>Why students should choose this pathway over others?</strong></p>
    <blockquote>
        <p><strong><code>&lt;response here&gt;</code></strong></p>
    </blockquote>
    <p><strong>Why do they like the pathway?</strong></p>
    <blockquote>
        <p><strong><code>&lt;response here&gt;</code></strong>
        </p>
    </blockquote>
</blockquote>
