<h1>Teachers</h1>
<blockquote>
    <h2>Ms. Virena Sampayo, M.Ed</h2>
    <p><strong>Degrees:</strong></p>
    <ul>
        <li>BA Interdisciplinary Studies EC-4</li>
        <li>MA Education with concentration in Instructional Technology</li>
    </ul>
    <p><strong>Certifications:</strong></p>
    <ul>
        <li>Generalist EC-4</li>
        <li>Technology Education 6-12</li>
        <li>Technology Applications EC-12</li>
    </ul>
    <p><strong>About</strong>
        I was born and raised in San Antonio, TX. I attended NEISD schools, Jackson-Keller Elementary, Nimitz Academy,
        and graduated from Robert E. Lee High School in 2003. I completed my Bachelor of Arts in Interdisciplinary
        Studies EC-4 from the University of the Incarnate Word in Dec. 2007. I taught in SAISD for 9 years in Prek, 2nd,
        and 3rd Grade. I completed my Master of Arts in Education with a Concentration in Instructional Technology from
        UTSA in 2018. I substituted for a year in NEISD and found my new home here at STEM Academy. This is my 5th year
        at STEM and I love teaching Computer Science.</p>
    <p><strong>Why the pathway is important?</strong></p>
    <blockquote>
        <p><strong><code>&lt;response here&gt;</code></strong></p>
    </blockquote>
    <p><strong>Why students should choose this pathway over others?</strong></p>
    <blockquote>
        <p><strong><code>&lt;response here&gt;</code></strong></p>
    </blockquote>
    <p><strong>Why do they like the pathway?</strong></p>
    <blockquote>
        <p><strong><code>&lt;response here&gt;</code></strong>
        </p>
    </blockquote>
</blockquote>
