:root {
    /* Color Theme */
    --space-cadet: #141b41ff;
    --green-blue: #306bacff;
    --eton-blue: #7fc29bff;
    --yellow-green-crayola: #b5ef8aff;
    --magnolia: #fcf7ffff;
}

html {
    color: var(--space-cadet);
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 10vh;
    font-size: 5ch;

    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    align-items: center;
    justify-content: center;
}

nav>a {
    padding: 1em 2em 1em 2em;

    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

#courses>div,
#students>div,
#teachers>div,
#students>div>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: start;
}

footer {
    text-align: center;
}